.Recipe {
    text-align: center;
}

.Button {
    color: black;
    background-color: rgb(53, 51, 52);
    text-align: center;
    font-size: 25px;
    border-radius: 25px;
    font-family: Cursive;
    transition-duration:hover;
    border-color: black;
    width: 200px;
}

.Button:hover {
    background-color: white;
    color: black;
    border-color: pink;
    transition-duration: 0.4s;
}

.table {
    width: 400px; 
    margin-left: auto;
    margin-right: auto;
}

.tr {
    border: 1px solid;
    padding: 5px;
    text-align: center;
}

.td {
    border: 1px solid;
    padding: 5px;
    text-align: center;
}

.image {
    width: 200px;
}

#recipesection {
    display: flex;
    flex-wrap: wrap;
    padding-left: 350px;
}

#recipearticle {
    padding: 10px;
    padding-bottom: 50px;
}

#maindiv {
    background-color: #1a1919;
}

#mainsection {
    display: flex;
}   

input {
    display: flex;
    background-color: #1a1919;
    color: white;
    align-items: center;
    font-size: 20px;
    width: 80%
}

label {
    color: white;
    align-items: center;
    font-size: 20px;
}

#recipeaddsection {
    padding-top: 100px;
}

#formarticle {
    padding-bottom: 10px;
    padding-left: 10px;
}